 .reviewCont {

   display: flex;
   flex-direction: column;

 }

 .carousel-inner {
   display: flex;

   align-items: center;
   
 }

 .carousel {

   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 40px;
   padding-bottom: 40px;
 }

 .subheadC {
   font-size: 30px ;


 }

 .carousel-control-prev,
 .carousel-control-next {
   width: 30px;


 }

 .ReviewCcont {
 
   display: flex;
   padding: 40px;
   justify-content: space-evenly;
   align-items: center;


 }


 .CardRight{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
  width: 60%;
 }
 .pfp{
  height: 120px;
 }
 .review1{
  font-family: var(--poppins);
  text-align: center;
 font-size: 25px;
  letter-spacing: 1px;
  color: rgb(244, 244, 244);
 }
 #divider {
  display: block;
  height: 1px;
  background-color: #FFC632;
  width: 300px;
  margin: 10px 0;
}
.name{
  font-family: var(--main-font);
  font-size: 25px;

}

.company{
  font-family: var(--poppins);
  color:#FFC632 ;
  font-size: 20px;
}
@media (min-width: 1201px) {}

@media (min-width: 992px) and (max-width: 1200px) {}


/* // Medium Screens */

@media (min-width: 768px) and (max-width: 991px) {}

/* 
// Small Screens */

@media (min-width: 576px) and (max-width: 767px) {}


@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 576px) and (max-width: 767px) {
  .subheadC { 
    margin-top: 10px;
    font-size:25px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {

  .subheadC {
    margin-top: 10px;
    font-size:20px;
  }

  .review1{
    font-weight: lighter;
    font-size: 15px;
    width: 100%;
  }

  .CardRight{
    width: 100%;
  }
  .pfp{
    height: 100px;
  }

  #divider
{
  width: 250px;
}

.ReviewCcont{
 gap: 20px;
  flex-direction: column;
}
.carousel{
  margin-top: 0px;
}

}