.RishabIntro {

    background-color: var(--main-blue);

}


.about,
.RishabIntro {
    margin-bottom: 20px;
    overflow: hidden;
}

.RishabIntro {

    display: flex;
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
    position: relative;
    overflow: hidden;
}

.home {
    overflow-x: hidden;
    padding: 0 !important;
    margin: 0;
    overflow-y: scroll;
}



.blob1 {
    position: absolute;
    height: 250px;
    width: 350px;
    right: -40px;
    bottom: -10px !important;
}

#icon {

    height: 350px;
    position: absolute;
    opacity: 0.6;
    left: -120px;
    top: 190px;
    color: #024178;

}


@media (min-width: 1201px){

}
  
@media (min-width: 992px) and (max-width: 1200px) {


 
}


/* // Medium Screens */

@media (min-width: 768px) and (max-width: 991px) {

    

}

/* 
// Small Screens */

@media (min-width: 576px) and (max-width: 767px) {
 
    .RishabIntro {
        border-top-left-radius: 0%;
        border-bottom-right-radius: 0%;

    }

    .blob1 {
    display: none;
    }

    #icon {
        height: 150px;
        top: 10px;
        left: -40px;
        opacity: 0.4;
    }
 
}


@media (min-width: 768px) and (max-width: 991px){

}

@media (min-width: 576px) and (max-width: 767px) {

}

@media (min-width: 320px) and (max-width: 575px) {
    .RishabIntro {
        border-top-left-radius: 0%;
        border-bottom-right-radius: 0%;

    }

    .blob1 {
       display: none;
    }

    #icon {
        height: 150px;
        top: 10px;
        left: -40px;
        opacity: 0.4;
    }
}